:root {
    font-family: inherit;
}

.description {
    font-size: 0.85rem;
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

ul li:before {
    content:  "-";
    position: relative;
    left:     -5px;
}

.input-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active {
    color: var(--brand-color-blue);
}

.input-control__toggle {
    font-size: 0.9rem;
}

.input-control__toggle span{
    margin-right: 0.5rem;
}