.expenses-list {
    overflow-x: hidden;
    background-color: var(--gradient-neutral-70);
}

.expenses-list > * {
    margin: 0.5rem;
    animation-duration: 2s;
    animation-name: slidein;
    animation-timing-function: ease-out;
}
 
@keyframes slidein {
    from {
        opacity: 0;
        margin-left: 100%;
        width: 300%;
    }
  
    to {
        opacity: 0.9;
        margin-left: 0%;
        width: 100%;
    }
}