.picker-container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
}

.diagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
}

.picker-container > h4 {
    margin-right: 0.5rem;
}

.expenses-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    max-height: 30rem;
}

.expenses-list > * {
    margin: 0.5rem;
    width: 40rem;
}

@media (min-width: 1024px) {
    .expenses-list > * {
        margin: 0.5rem;
        width: 60%;
    }
}