:root {
    overflow-x: hidden;
    background-color: var(--gradient-neutral-70);
}

.picker-container {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.5rem;
}

.picker-container > h4 {
    margin-right: 0.5rem;
}

.expenses-list > * {
    margin: 0.5rem;
    animation-duration: 2s;
    animation-name: slidein;
    animation-timing-function: ease-out;
}
 
@keyframes slidein {
    from {
        opacity: 0;
        margin-left: 100%;
        width: 300%;
    }
  
    to {
        opacity: 0.9;
        margin-left: 0%;
        width: 100%;
    }
}