:root {
    background-color: var(--gradient-blue-70);
}

.registration-form__wrapper {
    position: relative;
    top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success-toast {
    width: 70vw;
    position: absolute;
    top: 0;
    left: 12.5vw;
    z-index: 100;
}
