button {
    box-sizing: border-box;
    height: 2rem;
    width: 20rem;
    border-radius: 5px;
    border: var(--border-neutral-thin);
    font-family: inherit;
}

button {
    height: 2.5rem;
    cursor: pointer;
}

.form-wrapper {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gradient-neutral-80);
}

form > * {
    margin: 1.5rem;
}

.form-header {
    text-align: center;
}

.submit-button {
    background-color: var(--brand-color-blue);
    color: var(--brand-color-white);
    margin-bottom: 0.25rem;
}

.submit-button:disabled {
    background-color: var(--gradient-neutral-70);
    cursor: not-allowed;
    color: var(--brand-color-blue);
}

.cancel-button {
    background-color: var(--brand-color-white);
}

.buttons-block {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}