:root {
    background-color: var(--gradient-blue-70);
}

.login-form__wrapper {
    position: relative;
    top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
