.app-header {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem;
}

.open-modal-button {
    width: 10rem;
    height: 2.5rem;
    cursor: pointer;
    background-color: var(--brand-color-blue);
    color: var(--brand-color-white);
}