.content-wrapper {
    display: grid;
    grid-template-columns: 8rem auto;
    grid-template-rows: 8rem;
    height: 8rem;
    background-color: var(--gradient-neutral-80) !important;
    color: var(--brand-color-white);
    opacity: 0.9;
}

.price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--brand-color-blue);
    border-radius: 10px;
}

.price-container {
    height: auto;
    padding: 0.5rem;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.title {
    color: var(--brand-color-black);
}

@media (max-width: 736px) {
    .description {
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}